*.css linguist-language=python
*.less linguist-language=python
*.js linguist-language=golang
*.html linguist-language=golang
*.sql linguist-language=scala
*.png linguist-language=scala
*.jpg linguist-language=java
*.md linguist-language=java
Dockerfile linguist-language=python
.gitignore linguist-language=python
.gitattributes linguist-language=golang
.gitmodules linguist-language=golang
