*.css linguist-language=java
*.less linguist-language=java
*.js linguist-language=java
*.html linguist-language=java
*.sql linguist-language=scala
*.png linguist-language=scala
*.jpg linguist-language=scala
*.md linguist-language=scala
