*.css linguist-language=python
*.less linguist-language=python
*.js linguist-language=golang
*.html linguist-language=golang
*.sql linguist-language=java
*.png linguist-language=java
*.jpg linguist-language=scala
*.md linguist-language=scala
